<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/sementic/sementic.mon.css">
    </head>

        <body>
            
            <div>

                <a href="">Accueil</a>
                <a href="">Nos services</a>
                <a href="">Contacter-nous</a>
            </div>

        </body>

</html>